<div class="h-screen p-4 w-full bg-white text-black">
  <div class="w-full border h-[40vh] rounded-lg flex justify-center items-center">
    <div class="flex flex-col justify-center items-center">
      <div class="animate-bounce">
        <lucide-icon [name]="icons.Cloudy" color="black" size="80"></lucide-icon>
      </div>
      <div 
        class="px-2 py-2 bg-blue-500 w-fit font-semibold rounded-xl"
        (click)="openFileExplorer('pdf')"
      >Upload File</div>
    </div>
  </div>
  <div></div>
</div>
